.login_container{
-fx-background-color:#EEEEEE;
}
.logo-container{
-fx-background-color:#0A3353;
-fx-alignment:center;

}

.login_container Text{
-fx-font-size:2em;
-fx-text-fill:#FFFFFF;
}
.login_form_container{
-fx-spacing:15;
-fx-alignment:top_left;
}
.login_form_container Label{

-fx-font-size:1.1em;
-fx-font-weight:bold;

}
.input_feild{

-fx-background-color:#FFFFFF;
-fx-pref-height:35;
-fx-font-size:1.2em;
}
.login_form_container Button{
-fx-background-color:#0A3353;
-fx-text-fill:#FFFFFF;
-fx-pref-width:350;
-fx-pref-height:30;
-fx-font-size:1.2em;


}

.login_form_container Button:hover{
-fx-cursor:hand;
}


